<!-- Select Option Por Tablas -->

<div class="container overflow-hidden">
    <div class="row justify-content-between">
        <!-- Select Ambiente -->
        <div class="col-auto">
            <label class="col-form-label">Ambiente:</label>
        </div>
        <div class="col-lg">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar....</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <!-- end -->

        <!-- Select Canal -->
        <div class="col-auto">
            <label class="col-form-label">Canal:</label>
        </div>
        <div class="col-lg">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar....</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <!-- end -->

        <!-- Select Comprobantes -->
        <div *ngIf="comprobante === true" class="col-auto">
            <label class="col-form-label">Comprobante:</label>
        </div>
        <div *ngIf="comprobante === true" class="col-lg">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar....</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <!-- end -->

        <!-- Select Nro Comprobante -->
        <div *ngIf="comprobante === true" class="col-auto">
            <label class="col-form-label">Nro Comprobante:</label>
        </div>
        <div *ngIf="comprobante === true" class="input-group col-lg">
            <input type="text" class="form-control">
            <button class="btn btn-success input-group-text"><i class="fa fa-search"></i></button>
        </div>

        <!-- Select Tipo -->
        <div *ngIf="ver === true" class="col-auto">
            <label class="col-form-label">Tipo e-CF:</label>
        </div>
        <div *ngIf="ver === true" class="col-lg">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar....</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
</div>